@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --accent: #FEBA6D;

}

.light {
  --background: #f5f0eb;
  --foreground: #1c1613;
  --accent: #ff9318;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: radial-gradient(ellipse at center, #493738 0%, #463536 5%, #1c1613 98%);
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-inter);
  letter-spacing: 2px;
}

.light body {
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 5%, #e0d8d0 98%);
    color: #1c1613;
}

h1{
  font-weight: 700;
  font-family: var(--font-mono);
  letter-spacing: 3px;
  line-height: 35px;
}

p{
  font-family: var(--font-inter);
  letter-spacing: 2px;
  font-weight: 400;
}

.icon-link {
  transition: transform 0.2s;
  cursor: pointer;
  display: inline-block;
}

.icon-link:hover {
  transform: scale(1.15);
}

.heart-bounce {
  animation: heartFlow 5s ease-in-out infinite;
}

@keyframes heartFlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px) scale(1.01);
  }
   100% {
    transform: translateY(0px);
  }
}

.project-card {
  background: #352622;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 
    inset -3px -3px 5px rgba(131, 92, 92, 0.32),
    inset 5px 5px 10px rgb(28, 20, 20);  
}

.light .project-card {
  background: #f0ebe6;
  box-shadow: 
    inset -3px -3px 10px rgba(255, 255, 255, 0.911),
    inset 5px 5px 10px rgb(159, 159, 159);  
}
